@import '../../styles/variables.module.sass'
  
.Profile 
  width: 100%
  .ContentWrapper
    width: 100%
    display: flex
    justify-content: space-between
    align-items: flex-end
  .TextContent
    height: 100%
    display: flex
    flex-direction: column
    width: 60%
  hr
    background: $greenLight
    border-top-color: $green
    border-color: $greenLight
  strong 
    color: $green 
    font-size: 20px
  textarea, .Desc
    outline: none
    font-size: 20px
    width: 90%
    height: 400px
    padding: 20px
    white-space: pre-line
    border: 2px solid $green
    border-radius: 10px
    p, h2
      margin: 0
  textarea.active 
    border: 1px solid $orange
  button
    align-self: flex-start