@import '../../styles/variables.module.sass'

.Projects
  padding-bottom: 70px
  h2 
    font-size: 48px
    font-weight: 400
    color: #057b26
    background: linear-gradient(539deg, #BCE221 0%, #057b26) !important
    -webkit-background-clip: text !important
    z-index: 100
    -webkit-text-fill-color: transparent !important
  &Content
    display: flex
    align-items: center
    justify-content: space-between
  ul 
    margin: 0 auto
    padding: 0
    color: $green
    li 
      width: fit-content
      padding: 20px 15px 
      margin: 10px 0
      border-radius: 30px
      list-style: none
      font-size: 20px
      font-weight: 700
  &Active 
    color: $white 
    background: $greenLight
 
  