@import '../../styles/variables.module.sass'
  
.NavBar
  padding: 1px 0
  background: $navBarBg
  display: flex
  align-items: center
  flex-direction: column
  ul
    padding-left: 0
    list-style: none
    display: flex
    align-items: center
    a
      text-decoration: none
      color: $textColorLight
      margin: 0 30px
    li 
      font-size: 20px





