@import '../../styles/variables.module.sass'
  
.NavBar
  padding: 1px 0
  background: $navBarBg
  ul
    padding-left: 0
    list-style: none
    display: flex
    align-items: center
    justify-content: space-evenly
    a
      text-decoration: none
      color: $textColorLight
    li 
      font-size: 20px





