@import './_fonts.sass'

$light: ComfL
$regular: ComfR
$semi: ComfB

$Elg: 1440px //extra-large
$Lg: 1200px //large
$Md: 960px //medium
$Xs: 760px //small
$XXs: 540px //extra small
$newsItems: 4


$white: #fff
$green: #257930
$greenLight: #A4E221
$blue: #A3EEFF
$salad: #A4E221
$darkBlue: #568EDD
$orange: #e7ab66
$yellow: #FFED4A
$textColorLight: $white
$textColorDark: $green

$btnBgOrange: #e7ab66

$navBarBg: #9bd8ce

